@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

html {
    font-size: 86.66667px
}

@media (min-width: 1921px) {
    html {
        font-size: 100px
    }
}

@media (max-width: 1440px) {
    html {
        font-size: 70px
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 63.33333px
    }
}

@media (max-width: 768px) {
    html {
        font-size: 53.33333px
    }
}

@media (max-width: 540px) {
    html {
        font-size: 36.66667px
    }
}

html:after {
    display: none;
    content: 'xs: (max-width: 768px) | sm: (max-width: 1024px) | md: (max-width: 1440px) | lg: (max-width: 1920px) | xl: (min-width: 1921px)'
}

body {
    color: #333;
    font-size: 14px;
    font-family: "方正悠黑 508R", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent
}

.win body {
    font-family: "方正悠黑 508R W", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent
}

dd, dl, dt, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400
}

em, i, strong {
    font-style: normal
}

input:focus {
    outline: 0
}

figure {
    margin: 0
}

img {
    border: 0;
    vertical-align: middle;
    outline: 0;
    -webkit-user-drag: none
}

dir, menu, ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0
}

input, textarea {
    -webkit-appearance: none
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #a0a0a0
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #a0a0a0
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #a0a0a0
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #a0a0a0
}

input::-ms-clear, textarea::-ms-clear {
    display: none
}

input::-ms-reveal, textarea::-ms-reveal {
    display: none
}

input:focus, textarea:focus {
    outline: 0
}

@font-face {
    font-family: "方正悠黑 510M";
    src: url(../fonts/FZYH_510M.eot);
    src: url(../fonts/FZYH_510M.eot?#ie-fixed) format("embedded-opentype"), url(../fonts/FZYH_510M.woff2) format("woff2"), url(../fonts/FZYH_510M.woff) format("woff"), url(../fonts/FZYH_510M.ttf) format("truetype"), url(../fonts/FZYH_510M.svg) format("svg");
    font-style: normal;
    font-weight: 200
}

@font-face {
    font-family: "方正悠黑 508R";
    src: url(../fonts/FZYH_508R.eot);
    src: url(../fonts/FZYH_508R.eot?#ie-fixed) format("embedded-opentype"), url(../fonts/FZYH_508R.woff2) format("woff2"), url(../fonts/FZYH_508R.woff) format("woff"), url(../fonts/FZYH_508R.ttf) format("truetype"), url(../fonts/FZYH_508R.svg) format("svg");
    font-style: normal;
    font-weight: 200
}

@font-face {
    font-family: "方正悠黑 506L";
    src: url(../fonts/FZYH_506L.eot);
    src: url(../fonts/FZYH_506L.eot?#ie-fixed) format("embedded-opentype"), url(../fonts/FZYH_506L.woff2) format("woff2"), url(../fonts/FZYH_506L.woff) format("woff"), url(../fonts/FZYH_506L.ttf) format("truetype"), url(../fonts/FZYH_506L.svg) format("svg");
    font-style: normal;
    font-weight: 200
}

@font-face {
    font-family: "方正悠黑 510M W";
    src: url(../fonts/FZYH_510M.eot);
    src: url(../fonts/FZYH_510M.eot?#ie-fixed) format("embedded-opentype"), url(../fonts/FZYH_510M.otf) format("opentype"), url(../fonts/FZYH_510M.woff) format("woff"), url(../fonts/FZYH_510M.ttf) format("truetype");
    font-style: normal;
    font-weight: 200
}

@font-face {
    font-family: "方正悠黑 508R W";
    src: url(../fonts/FZYH_508R.eot);
    src: url(../fonts/FZYH_508R.eot?#ie-fixed) format("embedded-opentype"), url(../fonts/FZYH_508R.otf) format("opentype"), url(../fonts/FZYH_508R.woff) format("woff"), url(../fonts/FZYH_508R.ttf) format("truetype");
    font-style: normal;
    font-weight: 200
}

@font-face {
    font-family: "方正悠黑 506L W";
    src: url(../fonts/FZYH_506L.eot);
    src: url(../fonts/FZYH_506L.eot?#ie-fixed) format("embedded-opentype"), url(../fonts/FZYH_506L.otf) format("opentype"), url(../fonts/FZYH_506L.woff) format("woff"), url(../fonts/FZYH_506L.ttf) format("truetype");
    font-style: normal;
    font-weight: 200
}